{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
MovieLens Recommendation
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='index.css')}}">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}
{% block content %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">MovieLens Movie Recommendation</a>
        </div>
      </div>
    </nav>
    <div id="alert" class="alert alert-success alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
          Check your email! We've sent you instructions for resetting your password.
    </div>
    <div id="login-overlay" class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Login to MovieLens</h4>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-xs-6" style="padding-right:120px">
                      <div class="well">
                          <form id="loginForm" method="POST" action="/login" novalidate="novalidate">
                              {{ form.hidden_tag() }}
                              {{ wtf.form_field(form.username) }}
                              {{ wtf.form_field(form.password) }}
                              {{ wtf.form_field(form.remember) }}
                              <button type="submit" class="btn btn-success btn-block">Login</button>
                              <h5></h5>
                              <a href="/forgot">Forget Password?</a>
                          </form>
                      </div>
                  </div>
                  <div class="col-xs-6" style="float:right;padding-left:120px">
                      <p class="lead">New User? Register Now!</p>
                      <ul class="list-unstyled" style="line-height: 2">
                          <li><span class="fa fa-check text-success"></span> Personalized Recommendation</li>
                          <li><span class="fa fa-check text-success"></span> Most Popular Movies</li>
                          <li><span class="fa fa-check text-success"></span> Top Rated Movies</li>
                          <li><span class="fa fa-check text-success"></span> Movie Search</li>
                          <li><span class="fa fa-check text-success"></span> Rate More Movies</li>
                          <li><span class="fa fa-check text-success"></span> Add and View Comments</li>
                      </ul>
                      <p><a href="/signup" class="btn btn-info btn-block">Yes please, register now!</a></p>
                  </div>
              </div>
          </div>
      </div>
  </div>

<script type="text/javascript" src="{{url_for('static', filename = 'signin.js')}}"></script>
{% endblock %}